{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/accounting.min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<style>
.grp-object-tools li.custom a {
	font-size: 18px;
	opacity: 1 !important;
	border: 1px solid #2987a6 !important;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #36b0d9), color-stop(100%, #309bbf));
	background: -webkit-linear-gradient(#36b0d9,#309bbf);
	background: -moz-linear-gradient(#36b0d9,#309bbf);
	background: -o-linear-gradient(#36b0d9,#309bbf);
	background: linear-gradient(#36b0d9,#309bbf);
	padding: 8px 14px;
	margin-bottom: 8px;
}
</style>
{% endblock extrahead %}

{% block object-tools-items %}
<li class="custom">
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="javascript:;" class="historylink">Folio: {{ original.folio }}</a>
</li>
<li class="custom">
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="javascript:;" class="historylink">Total: <span class="money-fmt">{{ original.get_total }}</span></a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}


{% block inline_field_sets %}
	<div class="grp-group grp-tabular">
		<h2 class="grp-collapse-handler">Detalles del pedido</h2>


		<div class="grp-module grp-table">
			<div class="grp-module grp-thead">
				<div class="grp-tr">
					<div class="grp-th" style="text-align:center;width:60px;">Cant.</div>
					<div class="grp-th">Diseño</div>
					<div class="grp-th">Medida</div>
					<div class="grp-th">Material</div>
					<div class="grp-th">Orientación</div>
					<div class="grp-th" style="text-align:right">Precio Unitario</div>
					<div class="grp-th" style="text-align:right">Total por Articulo</div>
				</div>
			</div>

			{% for detalle in original.detalles.all %}
				<div class="grp-module grp-tbody has_original grp-dynamic-form">
					<div class="grp-tr">
						<div class="grp-td" style="text-align:center;vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;">
							{{ detalle.cantidad }}
						</div>
						<div class="grp-td" style="vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;">

							<img style="vertical-align:middle;margin-right:10px" src="{{ im.url }}" alt="">

							{{ detalle.producto.producto.nombre }}
						</div>
						<div class="grp-td" style="vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;">
							{{ detalle.producto.medida }}
						</div>
						<div class="grp-td" style="vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;">
							{{ detalle.producto.material.get_material_display }}
						</div>
						<div class="grp-td" style="vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;">
							{{ detalle.producto.orientacion }}
						</div>
						<div class="grp-td money-fmt" style="vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;text-align:right">
							{{ detalle.producto.precio }}
						</div>
						<div class="grp-td money-fmt" style="vertical-align:middle;font-size: 12px;line-height: 14px;font-weight: bold;text-align:right">
							{{ detalle.get_total }}
						</div>
					</div>
				</div>
			{% endfor %}

			</div>

	</div>
{% endblock inline_field_sets %}
