{% extends "base.html" %}


{% block contenido %}
<div class="container">
	<div class="row" id="content-print">
		<div class="col-md-12">
			<h1 align="center" class="gray-bottom upper">Información de Depósito Bancario</h1>
		</div>

		<div class="col-md-12">
			<p align="center">
				<img style="width:300px" src="http://s3-eu-west-1.amazonaws.com/rankia/images/valoraciones/0010/8872/mejor-banco-banamex.gif?1366639956" alt="">
			</p>
			<dl class="dl-horizontal forma-pago">
			  <dt>Suc</dt>
			  <dd>7003</dd>
			  <dt>Cuenta</dt>
			  <dd>329617</dd>
			  <dt>Clave interbancaria</dt>
			  <dd>002320700303296175</dd>
			  <dt>Nombre</dt>
			  <dd>Addamabel Rios Canobbio</dd>
			  <dt>Importe</dt>
			  <dd class="money-fmt" style="text-align:left">{{ pedido.get_total }}</dd>
			</dl>
			<p align="center">
				<a href="javascript:printData('content-print')" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> Imprimir</a>
				<br>
			</p>
		</div>
	</div>
</div>
{% endblock contenido %}