{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}

<!-- Grid plugin -->
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />

<!-- Carousel -->
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<style>
	.fol{
		background-color: #F6F6F6;
		border: 1px solid #B3B3B3;
	}
	.but{
		background-color: #13dfae;
		margin-right: 10px;
		float: right;
	}
</style>
{% endblock extra_head %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Perfil del diseñador</h3>
			</div>
		</div>
		<div class="gray-box-content">
			<div class="row">
				<div class="col-md-3 col-sm-6" style="border-right:1px solid #ccc">
					<div class="profile-pic">
						<img style="max-height:250px;" src="{{ disenador.imagen.url }}" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-md-3 col-sm-6" style="border-right:1px solid #ccc">
					<div style="display: table; height: 250px; overflow: hidden;">
				    	<div style="display: table-cell; vertical-align: middle;">
				    		<h3 class="nomargin">{{ disenador.nombre }} <br>
							{{ disenador.apellidos }}</h3>
							<h4>{{ disenador.municipio|default:"Ciudad no capturada" }}, {{ disenador.estado }}</h4>
				    	</div>
				    </div>
				</div>

				<div class="col-md-3 col-sm-6" style="border-right:1px solid #ccc">
					<div style="display: table; height: 250px; overflow: hidden;">
				    	<div style="display: table-cell; vertical-align: middle;">
				    		<p>
				    			{{ disenador.biografia }}
				    		</p>
				    	</div>
				    </div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div style="display: table; height: 250px; overflow: hidden;width:100%;">
				    	<div style="display: table-cell; vertical-align: middle;">
				    		<div class="text-center">
				    			<h2 class="nomargin nopadding"><a href="{% url 'following' disenador.profile_url %}">Following</a></h2>
					    		<h2 class="nomargin">{{ disenador.get_following }}</h2>
					    		<h2 class="nomargin nopadding"><a href="{% url 'followers' disenador.profile_url %}">Followers</a></h2>
					    		<h2 class="nomargin">{{ disenador.get_followers }}</h2>
					    		<hr>
					    		<h3 class="nomargin nopadding" data-toggle="tooltip" data-placement="top" title="{{ disenador.ratings.count }} votos">Rating</h3>
					    		<ul class="list-inline rating-list nomargin nopadding">
					    			{% for i in "xxxxx" %}
					    				{% if disenador.get_rating >= forloop.counter %}
					    					<li><a href="{% url 'votar' disenador.profile_url forloop.counter %}"><i class="glyphicon glyphicon-star"></i></a></li>
					    				{% else %}
					    					<li><a href="{% url 'votar' disenador.profile_url forloop.counter %}"><i class="glyphicon glyphicon-star-empty"></i></a></li>
					    				{% endif %}
					    			{% endfor %}
					    		</ul>
				    		</div>
				    	</div>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p align="right">
						<a href="{% url 'follow' disenador.profile_url %}" class="btn btn-default">Follow</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<ul class="pagination pull-right">
					{% if followers.has_previous %}
						<li><a href="?page={{ followers.previous_page_number }}">&laquo;</a></li>
					{% endif %}

			        {% for page in followers.paginator.page_range %}
						<li {% if page ==  followers.number %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
			        {% endfor %}

			        {% if followers.has_next %}
			        	<li><a href="?page={{ followers.next_page_number }}">&raquo;</a></li>
			        {% endif %}
			    </ul>

			</div>
		</div>
		<h1>Followers</h1>
		<div class="row">
			{% for follower in followers %}
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="fol">
						<div class="row">
							<div class="col-md-6">
								<img style="max-height:90px; margin:14px 20px 14px 14px;" src="{{ follower.usuario.imagen.url }}" class="img-responsive" alt="">
							</div>
							<div class="col-md-6" style="margin-top:14px;">
								{{ follower.usuario.nombre }} <br>
								{{ follower.usuario.apellidos }} <br>
								{{ follower.usuario.get_followers }} Followers<br><br>
								<a href="{% url 'ver_perfil' follower.usuario.profile_url %}" class="but">Ver Perfil</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock contenido %}
