{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
<!-- Grid plugin -->
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />

<!-- Carousel -->
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">

<!-- Slidesjs plugin -->
<script src="{% static 'js/jquery.slides.min.js' %}"></script>

<style>
	.carousel-control{
		opacity: 0;
	}

	#carousel-example-generic:hover .carousel-control{
		opacity: 1;
	}

	.carousel-indicators li{
		width: 8px;
		height: 8px;
	}

	.carousel-indicators .active{
		width: 10px;
		height: 10px;
	}
</style>
{% endblock extra_head %}


{% block slider %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in slider.imagenes.all %}
    	<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter == 1 %}class="active"{% endif %}></li>
	{% endfor %}
  </ol>

{% if slider %}

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

	{% for slide in slider.imagenes.all %}
		<div class="item {% if forloop.counter == 1 %}active{% endif %}">
	      <img src="{{ slide.imagen.url|default:'http://placehold.it/1143x400' }}" class="img-responsive" alt="{{ slide.slider.nombre }}">
	      {% if slide.texto %}
	      <div class="carousel-caption">
	      	<h1>{{ slide.texto }}</h1>
	      </div>
	      {% endif %}
	    </div>
	{% endfor %}

  </div>

{% endif %}

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <img style="height:40px" src="{% static 'img/prev.png' %}" alt="">
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <img style="height:40px" src="{% static 'img/next.png' %}" alt="">
  </a>
  </div>
</div>

{% endblock slider %}

{% block contenido %}
<div class="container">
	{% for fila in filas %}
	<div class="row">
		{% for enlace in fila.links.all %}
			<div style="text-align:center" class="{{ enlace.get_css }}">
				<a href="{{ enlace.url }}">
					<img class="img-responsive" src="{{ enlace.imagen.url }}" alt="{{ enlace.descripcion }}">
				</a>
			</div>
		{% endfor %}
	</div><!-- /.row -->
	{% endfor %}
</div>
{% endblock contenido %}

{% block js %}

{% endblock js %}
